openapi: 3.1.0
info:
  title: Ultrasound Ledger Agent API
  version: 1.1.1
  description: >
    Create and edit ultrasound case reports and attach screenshot images.
    Prefer getCaseImageUploadLink for ChatGPT (user opens a browser upload page).
    Base64 attach is legacy and rejects invalid/placeholder payloads.
servers:
  - url: https://ultrasound.margies.app
security:
  - ApiKeyAuth: []
paths:
  /api/agent/cases:
    get:
      operationId: listCases
      summary: Search or list case reports
      parameters:
        - name: exam_date
          in: query
          required: false
          schema:
            type: string
          description: Exam date YYYY-MM-DD
        - name: pet_name
          in: query
          required: false
          schema:
            type: string
        - name: owner_surname
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Matching cases
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    exam_date:
                      type: string
                    owner_surname:
                      type: string
                    pet_name:
                      type: string
                    species:
                      type: string
                    exam_type:
                      type: string
                    findings_text:
                      type: string
                    conclusion_text:
                      type: string
                    invoice_id:
                      type: string
    post:
      operationId: createCase
      summary: Create a case report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - exam_date
                - owner_surname
                - pet_name
                - exam_type
              properties:
                exam_date:
                  type: string
                  description: YYYY-MM-DD
                owner_surname:
                  type: string
                pet_name:
                  type: string
                species:
                  type: string
                exam_type:
                  type: string
                  description: Echocardiography, Abdominal ultrasound, Pregnancy diagnosis, or Other
                findings_text:
                  type: string
                conclusion_text:
                  type: string
                image_notes:
                  type: string
                standard_fee:
                  type: number
                actual_fee:
                  type: number
                is_free:
                  type: boolean
                free_reason:
                  type: string
                billing_note:
                  type: string
      responses:
        '201':
          description: Created case including upload_url for screenshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  exam_date:
                    type: string
                  owner_surname:
                    type: string
                  pet_name:
                    type: string
                  species:
                    type: string
                  exam_type:
                    type: string
                  findings_text:
                    type: string
                  conclusion_text:
                    type: string
                  upload_url:
                    type: string
                    description: Open this link to attach screenshots in a browser
                  case_url:
                    type: string
  /api/agent/cases/{id}:
    get:
      operationId: getCase
      summary: Get one case report
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Case
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  exam_date:
                    type: string
                  owner_surname:
                    type: string
                  pet_name:
                    type: string
                  species:
                    type: string
                  exam_type:
                    type: string
                  findings_text:
                    type: string
                  conclusion_text:
                    type: string
                  invoice_id:
                    type: string
    patch:
      operationId: updateCase
      summary: Edit a case report (not allowed if invoiced)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                exam_date:
                  type: string
                owner_surname:
                  type: string
                pet_name:
                  type: string
                species:
                  type: string
                exam_type:
                  type: string
                findings_text:
                  type: string
                conclusion_text:
                  type: string
                image_notes:
                  type: string
                standard_fee:
                  type: number
                actual_fee:
                  type: number
                is_free:
                  type: boolean
                free_reason:
                  type: string
                billing_note:
                  type: string
      responses:
        '200':
          description: Updated case
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  findings_text:
                    type: string
                  conclusion_text:
                    type: string
  /api/agent/cases/{id}/upload-link:
    get:
      operationId: getCaseImageUploadLink
      summary: Get a browser upload link for screenshots
      description: >
        PREFERRED for ChatGPT. Returns a short-lived upload_url. Tell the user
        to open that link and select image files. No Base64 conversion needed.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Case UUID
      responses:
        '200':
          description: Upload link
          content:
            application/json:
              schema:
                type: object
                properties:
                  case_id:
                    type: string
                  upload_url:
                    type: string
                  expires_in_seconds:
                    type: integer
                  instructions:
                    type: string
                required:
                  - case_id
                  - upload_url
  /api/agent/cases/{id}/images:
    get:
      operationId: listCaseImages
      summary: List images attached to a case
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Image metadata list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    case_id:
                      type: string
                    original_name:
                      type: string
                    mime_type:
                      type: string
                    size_bytes:
                      type: integer
                    success:
                      type: boolean
    post:
      operationId: attachCaseImage
      summary: Attach image(s) from ChatGPT chat upload
      description: >
        PREFERRED when the user attaches an image in the ChatGPT chat.
        OpenAI injects openaiFileIdRefs with temporary download_link URLs.
        Do NOT pass /mnt/data paths or invent Base64. For manual upload without
        chat attachment, use getCaseImageUploadLink instead.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                openaiFileIdRefs:
                  type: array
                  description: >
                    ChatGPT injects this when the user uploaded image(s) in chat.
                    Each item has name, id, mime_type, download_link.
                  items:
                    type: string
                filename:
                  type: string
                file_url:
                  type: string
                  description: Public HTTPS URL only — not /mnt/data paths
                content_type:
                  type: string
                data_base64:
                  type: string
                  description: Legacy — real base64 only, never placeholder text
      responses:
        '201':
          description: Attached image
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  case_id:
                    type: string
                  original_name:
                    type: string
                  mime_type:
                    type: string
                  size_bytes:
                    type: integer
                  success:
                    type: boolean
  /api/agent/cases/{id}/images/from-url:
    post:
      operationId: attachCaseImageFromUrl
      summary: Attach image by downloading a public HTTPS URL
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_url
              properties:
                file_url:
                  type: string
                  description: Public HTTPS URL of the image
                filename:
                  type: string
      responses:
        '201':
          description: Attached image
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                  size_bytes:
                    type: integer
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Empty:
      type: object
      properties:
        ok:
          type: boolean
